
:root {
    /* ===== COLORS ===== */
    --cornflower-blue: #797EF6;
    --viking: #4ADEDE;
    --picton-blue: #1AA7EC;
    --jackson-purple: #1E2F97;
    --green-planet: #07b79f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url(../media/space_1.jpg);
    background-size: cover;
}

.bg-moon{
    background-image: url(../media/moon-bg.jpg);
    background-size: cover;
}
.bg-space{
    background-image: url(../media/spaceship.jpg);
    background-size: cover;
}

.black {
    background-color: #000;
}

a img {
    border: 2px solid white;
    border-radius: 100%;
}

.gradient {
    background: linear-gradient(90deg, white, var(--green-planet));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.blink {
    animation: blink 1.8s linear infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1;}
    50% { opacity: 0;}
}

.video-container {
    overflow: hidden;
}

video {
    width: 100%;
    position: absolute;
    bottom: -220px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}